# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.bin
*.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/8.5/dependencies-accessors/gc.properties
.gradle/8.5/gc.properties
gradle/wrapper/gradle-wrapper.properties
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
*.gradle
*.gradle
build.gradle
gradlew
gradlew.bat
.idea/dataSources.xml
.idea/sqldialects.xml
.idea/uiDesigner.xml
